/.idea
###> symfony/framework-bundle ###
/symfony.lock
/composer.lock
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
